{% extends "layout.html" %}

{% block title %}
    History
{% endblock %}

{% block main %}
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Symbol</th>
                <th>Shares</th>
                <th>Type</th>
                <th>Amount</th>
                <th>Timestamp</th>
            </tr>
        </thead>
         <tbody>
            {% for row in rows %}
                <tr>
                    <td>{{ row.symbol }}</td>
                    <td>{{ row.shares }}</td>
                    <td>{{ row.type }}</td>
                    <td>{{ row.price | usd }}</td>
                    <td>{{ row.datetime }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

{% endblock %}