{% extends "layout.html" %}

{% block title %}
    Portfolio
{% endblock %}

{% block main %}
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Symbol</th>
                <th>Name</th>
                <th>Shares</th>
                <th>Price</th>
                <th>TOTAL</th>
            </tr>
        </thead>
         <tbody>
            {% for row in rows %}
                <tr>
                    <td>{{ row.symbol }}</td>
                    <td>{{ row.name }}</td>
                    <td>{{ row.shares }}</td>
                    <td>{{ row.price | usd }}</td>
                    <td>{{ row.total | usd }}</td>
                </tr>
            {% endfor %}
                <tr>
                    <td colspan="4">CASH</td>
                    <td>{{ cash | usd }}</td>
                </tr>
        </tbody>

        <tfoot>
            <tr>
                <td colspan="4"></td>
                <td><b>{{ bigtotal | usd }}</b></td>
            </tr>
        </tfoot>
    </table>

{% endblock %}